body {
    font-family: Brush Script MT, Brush Script Std, cursive;
    background-image: url('flower-background.jpg'); /* Replace 'flower-background.jpg' with your flower image */
    background-size: auto;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #201010; /* Set text color to white for better contrast */
}

.love-letter {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); /* Add transparency to the background color */
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1, p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    font-size: 2em;
}

h1, p {
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden {
    visibility: hidden;
}

h1 {
    color: #ff3300; /* A deep red color, feel free to change it */
}

.container {
    display: inline-block;
}
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
      typing 13s forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }